h1, h2 {
    color: purple;
  }
  
  p {
    color: green;
  }
    
  ul {
    border: 7px solid orange;
  }
  
  ol {
    border: 7px solid purple;
  }
  
  ol, ul {
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  h1, strong {
    color: purple;
  }
  
  em {
    color: gray;
  }
     
